{% extends 'main.html' %}
{% block common %}
    <head>
       <style>
        #title {
        font-family: "Book Antiqua";
        font-size: 50px;
        background-color: blue;
        color: black;
        text-align: center;
        font-size: 30px;
    }
        #com {
        font-family: "Book Antiqua";
        font-size: 50px;
        background-color: blue;
        color: white;
            padding-left: 30px;
        text-align: center;
        font-size: 30px;
    }
        </style>
    </head>
<table border="0" align="center">
    <tr>
        <th id="title" colspan="3" rowspan="2">
           <a href="{% url 'userlogin' %}"> User Login</a>
        </th>

    <br>
    <br>
        <br>
        <th colspan="2" id="com"><a href="{% url 'adminlogin' %}">Admin Login</a></th>
    </tr>

</table>
{% endblock %}