{% extends 'main.html' %}
{% load static %}

{% block common %}

    {% include 'user.html' %}
    <form action="{% url 'video_upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <table align="center">
        <tr>
            <th>Choose Video
                <input type="file" placeholder="Upload Image" required name="v1" ></th>
        </tr>
        <tr>
            <th><input type="text" placeholder="Add Text" name="v2"></th>
        </tr>
        <tr>
            <th><button type="submit">Upload</button></th>
        </tr>
    </table>
    </form>

    {% for x in messages %}
        <h3 style="color: red;font-size: 40px;font-family: 'Segoe MDL2 Assets';text-align: center">
            {{ x }}
        </h3>
    {% endfor %}
{% endblock %}