{% extends 'main.html' %}
{% block common %}
    {% include 'user.html' %}

    <body id="fs-toggle">
<table align="center" border="0" >
    <tr bgcolor="#5f9ea0" style="color: #0f0dff">
        <th>User Name</th>
        <th width="100">Contact No</th>
        <th width="100">Email</th>
        <th width="100">Age</th>
        <th width="100">Gender</th>
    </tr>
    {% for x in data %}
        <tr style="color: #000009">
            <th width="100">{{ x.username }}</th>
            <th width="100">{{ x.contactno }}</th>
            <th width="100">{{ x.email }}</th>
            <th width="150">{{ x.age }}</th>
            <th width="150">{{ x.gender }}</th>
        </tr>
    {% endfor %}
</table>
</body>
{% endblock %}